.footer-nav {
    background-color: map-get($colors, primary);

    ion-grid {
        padding: 0;

        ion-col {
            text-align: center;
            color: #fff;

            ion-icon {
                font-size: 3em;
            }
        }
    }
}